@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-dark bg-light dark:text-white/92 text-black/92 relative min-h-full
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-sans
  }
  p, span, a, button, mark, time {
    @apply font-serif text-base
  }
  code {
    @apply font-mono text-base
  }
  mark {
    @apply bg-mark;
  }
  ::selection {
    @apply text-black bg-selection
  }
}

@layer utilities {
  .border-gradient {
    border-image-width: 2px;
    border-image-outset: 0;
    border-image-slice: 2;
    border-image-repeat: stretch;
    
    @apply animate-[2s_border-image-rotate_linear_infinite_both]
  }
}
